@import url('base/variables.css');
@import url('base/reset.css');
@import url('components/header.css');
@import url('components/sidebar.css');
@import url('components/buttons.css');
@import url('components/toggle-switch.css');
@import url('components/notification.css');
@import url('components/footer.css');
@import url('components/social.css');
@import url('base/animations.css');
@import url('components/banner.css');
@import url('base/scrollbar.css');
@import url('components/user-manage.css');