.banner {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #ddd;
  background-image: url('../../images/background.png');
  object-fit: fill;
  background-size: cover;
  overflow: hidden;
  position: relative;
  perspective: 1000px;
  padding-left: 350px;
}

.slider {
  position: relative;
  width: 650px;
  height: 280px;
  transform-style: preserve-3d;
  animation: rotate 20s linear infinite;
  --quantity: 0;
}

.slider:hover {
  animation-play-state: paused;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: rotateY(calc(360deg / var(--quantity) * (var(--position) - 1))) translateZ(400px);
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.banner-caption {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  padding: 8px 10px;
  background: transparent;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  opacity: 0;
  transition: opacity 0.3s;
}

.slide:hover .banner-caption {
  opacity: 1;
}

.banner .content {
  position: absolute;
  bottom: 10px;
  right: 5%;
  transform: none;
  width: 900px;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1;
}

.banner .content h2 {
  font-size: 2.5em;
  font-family: "WindSong", cursive;
  background: var(--gradient-text-main);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid rgba(255, 255, 255, 0.75);
  width: 0;
  animation: typing 10s steps(30, end) infinite,
             blink 1s step-end infinite;
}

.banner .content p {
  font-family: "Playwrite AU TAS", cursive;
  color: #6f6a6bff;
}